<div class="container text-center">
  <div class="card">
    <div class="card-body text-center">
      Coach >
    </div>
  </div>
  <div class="card bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <p class="card-text"><%= @response %></p>
    </div>
  </div>
  <div class="card bg-success mb-3 float-end" style="max-width: 18rem;">
    <div class="card-body">
      <p class="card-text"><%= @coach %> </p>
    </div>
  </div>
</div>
