<form class="justify-content-md-center border bg-light" action="/answer" data-turbo="false">
  <div class="row justify-content-start">
    <div class="row justify-content-center">
      <div class="col-4 col text-center">
        <h1 type="text" class="form-control-plaintext">Ask to Coach</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <input type="text" name="answer" class="form-control">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <input type="submit" value="Ask!" class="btn btn-primary mb-3">
      </div>
    </div>
  </div>
</form>
